body {
    background: #81ecec;
    text-align: center;
    font-family: Arial;
}

.recipe {
    margin: 20px;
}

.recipe img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}
